* {
  margin: 0;
  border: 0;
}
body {
  background: linear-gradient(#005AA7, #FFFDE4);
}
#container {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
#container3 {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
}
#wrapper {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 10vh;
  width: 100%;
}
#winner {
  text-align: center;
  width: 100%;
}
#container2 {
  width: 50vw;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
}

button {
  top: 0;
  right: 0;
  border: 2px black ridge;
  border-radius: 30px;
  width: 200px;
  height: 100px;
  font-size: 30px;
}
button:hover {
  font-size: 35px;
}
#player1,
#player2 {
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-flow: column;
}
img {
  width: 50%;
  height: auto;
  margin: 30px 30px;
}
h2 {
  margin-top: 20px;
}
